.auth .btn {
    min-width: 10rem;
}

.auth {
    padding: 5rem;
    border: 1px solid #000;
    height: 50%;
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
    right: 35%;
    margin: auto;
}